.fooBar {
  font-size: 1rem;
  padding: 2rem;
  border: red solid 1px;
}

.fooBar.big {
  font-size: 2rem;
  padding: 4rem;
}

.hello-world .col1 {
  width: 50%;
  background: #334455;
  color: #666;
}
@media (max-width: 64em) {
  .hello-world .col1 {
    width: 75%;
    background-color: #999999;
  }
}
.hello-world .col2 {
  width: 50%;
  color: #334455;
  background: #666;
}
@media (max-width: 64em) {
  .hello-world .col2 {
    width: 25%;
  }
}
.hello-world .col1 {
  z-index: 37;
  position: static;
}

.lorem-ipsum {
  padding: 0 2em 0 2em;
}

.lorem-dolor::before {
  color: #999999;
}